html {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  height: 80px;
}

p {
  color:red;
}

div.all {
  display: flex;
  width: 100%;
  margin: 80px 0 0 0;
}

div.left {
  width: 20%;
  background-color: antiquewhite;
}

div.form {
  background-color: antiquewhite;
  width: 100%;
}

div.main {
  background-color: white;
  border-radius: 30px;
  margin:20px 10px 20px 10px ;
  padding: 25px;
  width: 100&;
}

div.right {
  width: 20%;
  background-color: antiquewhite;
}